<!DOCTYPE html>
<html>
<head>
    <title>Exercise</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

    <center>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="card card-body">
                    <h4>Nesya Dwinanda Sri Fadila</h4>
                    <hr>
                    <p>I studied at the purwokerto telkom technology institute of software engineering study program 2017</p>
                    <p>NIM : 17104030</p>
                </div>
        <table id="id_todo_table" border="1" align ="center">

        </table>
            </div>

        </div>

    </div>

 
        
        
        <hr align="center" width="100%" color="#3a3634" size="2">  

        <h3 align="center" style="margin-top: 30px;">My To Do List</h1>
        <table id="id_list_table" align="center">
            {% for item in items %}
            <tr><td>{{ forloop.counter }}: {{ item.text }}</td></tr>
            {% endfor %}
        </table>

        <form method="POST" align="center" >
            <input name="item_text" id="id_new_item" placeholder="Enter a to-do item" />
            {% csrf_token %}
        </form>

        <div class="card card-body" style="margin-top: 5px;" >
            <h4 id="comment">{{theComment}}</h4>
        </div>
            
    </center>
    </body>
</html>