{% extends 'base.html' %}

{% block header_text %}Your To-Do list{% endblock %}

{% block form_action %}/lists/{{ list.id }}/add_item{% endblock %}

{% block table %}
  <h3>Comment : </h3>
    {{ list.item_set.all|length }}
    {% if list.item_set.all|length == 0 %}
        <span>yey, waktunya libur</span>
    {% elif list.item_set.all|length > 0 and list.item_set.all|length < 5%}
        <span>sibuk tapi santai</span>
    {% else %}
        <span>oh tidak</span>
    {% endif %}
  <table id="id_list_table" class="table">
    {% for item in list.item_set.all %}
      <tr><td>{{ forloop.counter }}: {{ item.text }}</td></tr>
    {% endfor %}
  </table>
{% endblock %}